.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  min-height: 64px;
  padding: 0.25rem 0;
  text-align: center;
  letter-spacing: -0.02em;
  width: 60rem;
  max-width: 100vw;
  margin: 15px auto;
}

.header ul {
  list-style: none;
  padding: 0;
}

.header ul li {
  display: inline-block;
  padding: 0 10px;
}

.header :global(a) {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
}

.header :global(a.active) {
  color: #310a90;
  font-weight: 700;
}

.header img {
  width: 50px;
  margin-right: 168px;
}

@media (max-width: 600px) {
  .header {
    padding: 0.5em 0 2em;
  }
}
